body {
    padding: 0;
    margin: 0;
}

#scene {
    position: relative;
    width: 100vw;
    height: 48vw;

}

#baggrund {
    width: 100vw;
    height: 48vw;
    background-image: url(Baggrund.png);
    background-size: 100%;
    position: absolute;
    bottom: 0vw;
    z-index: 1;
}


#midtergrund {
    width: 100vw;
    height: 48vw;
    background-image: url(Midtergrund.png);
    background-size: 100%;
    position: absolute;
    bottom: 0vw;
    z-index: 2;

}

#forgrund {
    width: 100vw;
    height: 48vw;
    background-image: url(Forgrund.png);
    background-size: 100%;
    position: absolute;
    bottom: 0vw;
    z-index: 5;

}

#skyer {
    width: 100vw;
    height: 48vw;
    background-image: url(skyer.png);
    background-size: 100%;
    position: absolute;
    bottom: 0vw;
    z-index: 1;
    animation-name: skyer;
    animation-duration: 100s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes skyer {
    from {}
    to {
        transform: translateX(30vw);

    }
}


/***********Viser figurer****/



#man_container {
    position: absolute;
    z-index: 3;
    transform: scale(0.5);
    top: 14.2vw;

}


#man_sprite {
    background-image: url(man-spritesheet.svg);
    background-size: 800% 500%;
    width: 20vw;
    height: 27.90vw;
}

.man_walk {
    animation-name: man_walk_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: steps(8);

}

@keyframes man_walk_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -800% 0;
    }
}

.man_move_right {
    animation-name: man_move_right_kf;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes man_move_right_kf {
    from {
        left: 0;
    }
    to {
        left: 37vw;
    }
}
#man_sit{
    position: absolute;

}


.man_sit_down {
    animation-name: man_sit_down_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    transition-timing-function: steps(4);
    animation-fill-mode: forwards;
}

@keyframes man_sit_down_kf {
    0% {
        background-position: 0 -200%;
    }
    100% {
        background-position: -500% -100%;
    }
}

/*stillbillede: Manden sidder */

/*
.sidder{
    background-position: -100% -300%;
}
*/



/***bjørnen***/

#bear_container {
    position: absolute;
    transform: scale(0.8);
    z-index: 3;
    top: 11.5vw;



}

#bear_sprite {
    background-image: url(bjorne_spritesheet.svg);
    background-size: 700% 200%;
    width: 20vw;
    height: 27vw;

}

.bear_walk {
    animation-name: bear_walk_kf;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: steps(7);
    animation-fill-mode: forwards;


}

@keyframes bear_walk_kf {
    from {
        background-position: 700% 200%;
    }
    to {
        background-position: 0% 200%;
    }
}


.bear_move_right {
    animation-name: bear_move_right_kf;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;


}

@keyframes bear_move_right_kf {
    from {
        left: -20vw;
    }
    to {
        left: 20vw;
    }
}


#bear_fall{
    position: absolute;
}

.bear_falling{
    animation-name: bear_falling_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: steps(2);
    animation-fill-mode: forwards;

}

@keyframes bear_falling_kf{
    from{
        background-position: 0 -200%;
    }

    to{
        background-position: -100% -200%;
    }
}






